@charset "UTF-8";

.table1{  
	width: 100%;
    border-top: 1px solid #FBE4C2;
    border-collapse: collapse;
}
.table2 {
    width: 100%;
    border-top: 1px solid #FBE4C2;
    border-collapse: collapse;
} 
.table2 tr td {
    padding: 10px;
}
#search{
	background-color: #F8B03A;
	border: 0px solid;
}
.price{  
	-webkit-appearance: none; /* 기본 CSS 스타일을 적용하지 않기 위해서 */
    width: 200px; /* 슬라이더 길이 */
    height: 10px; /* 슬라이더 두께 */
    border-radius: 5px; /* 슬라이더 모서리를 약간 둥글게 */
    background: #FBE4C2; /* 슬라이더 색상 */
    outline: none; /* 슬라이더 테두리 없이 */
}
#detail{
	background-color: #F8B03A;  
}  



.pagination{display:block; width:100%; text-align:center; clear:both; margin-bottom: 30px;  border-color:#F8B03A;}
.pagination li{display:inline-block; margin:0 2px 0 0; border-color:#F8B03A;  }
.pagination li:last-child{margin-right:0;}
.pagination a, .pagination strong{display:block; padding:8px 11px; border:1px solid; font-weight:normal;}

 