.wrap .sortbuttons {
  padding: 15px 0;
}

section.hotel h3 {
  color: #0f3c63;
  font-weight: 600;
  margin-top: 5px;
}
section .ocena {
  font-size: 12px;
  position: absolute;
  top: 11px;
  padding-left: 10px;
}
section .ocena .fa-star::before {
  color: #feba02;
}

form .checkbox ul {
  list-style: none;
  padding: 9px 0 9px 14px;
}
form .btn-primary {
  margin: 15px 0;
}